################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Mud.HttpUtils/obj
/Mud.HttpUtils.Generator/.vs
/Mud.HttpUtils.Generator/obj
/bin
