################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.docs
/Mud.HttpUtils/obj
/Mud.HttpUtils.Generator/.vs
/Mud.HttpUtils.Generator/obj
/Mud.HttpUtils.Abstractions/obj
/Mud.HttpUtils.Abstractions/bin
/Mud.HttpUtils.Attributes/obj
/Mud.HttpUtils.Attributes/bin
/Mud.HttpUtils.Client/obj
/Mud.HttpUtils.Client/bin
/Mud.HttpUtils.Resilience/obj
/Mud.HttpUtils.Resilience/bin
/bin
/Tests/bin
/Tests/Mud.HttpUtils.Client.Tests/bin
/Tests/Mud.HttpUtils.Client.Tests/obj
/Tests/Mud.HttpUtils.Generator.Tests/bin
/Tests/Mud.HttpUtils.Generator.Tests/obj
/Tests/Mud.HttpUtils.Tests/bin
/Tests/Mud.HttpUtils.Tests/obj
/Tests/Mud.HttpUtils.Benchmarks/bin
/Tests/Mud.HttpUtils.Benchmarks/obj
/Tests/Mud.HttpUtils.Resilience.Tests/bin
/Tests/Mud.HttpUtils.Resilience.Tests/obj
/Demos/HttpClientApiDemo/bin
/Demos/HttpClientApiDemo/obj
/Demos/CommonClassLibrary/bin
/Demos/CommonClassLibrary/obj
/Demos/bin