################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.docs
/Mud.HttpUtils/obj
/Mud.HttpUtils.Generator/.vs
/Mud.HttpUtils.Generator/obj
/bin
/Tests/bin
/Tests/Mud.HttpUtils.Generator.Tests/bin
/Tests/Mud.HttpUtils.Generator.Tests/obj
/Tests/Mud.HttpUtils.Tests/bin
/Tests/Mud.HttpUtils.Tests/obj
/Tests/Mud.HttpUtils.Benchmarks/bin
/Tests/Mud.HttpUtils.Benchmarks/obj
/Demos/HttpClientApiDemo/bin
/Demos/HttpClientApiDemo/obj
/Demos/CommonClassLibrary/bin
/Demos/CommonClassLibrary/obj
/Demos/bin